.btn-dona{
    margin-left: 50px;
    transition: all .5s ease;
    background-color:red;
    &:hover{
        background-color: rgb(241, 62, 62);
        transform: scale(1.5);
        transition: all .5s ease;
    }
}