@use "../../assets/styles/mixins.scss";
@import "../../assets/styles/variables.scss";

.link-button{
    color: $dark-color;
    @include mixins.transition-mixin;
    a{
        color: $dark-color;
        text-decoration: none;
        &:hover{
            color: $light-color;
            text-decoration:underline;
        }
    }
    &:hover{
        background: $dark-color;
        transform: scale(1.2);
        @include mixins.transition-mixin;
    }
}