.link-button{
    color: #333;
    transition: all 0.5s ease;
    a{
        color: #333;
        text-decoration: none;
        &:hover{
            color:whitesmoke;
            text-decoration:underline;
        }
    }
    &:hover{
        color: whitesmoke;
        background: #333;
        transform: scale(1.2);
        transition: all 0.5s ease;
    }
}