@import "../../assets/styles/variables.scss";
.contacts-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    @media (max-width: $breakpoint-laptop) {
        flex-direction: column;
  }
    li, a{
        text-decoration: none;
        font-style: italic;
        font-size: 20px;
        margin-top: 30px;
        color: $dark-color;
    }
    
}
.email a{
    &:hover{
        color: rgb(50, 168, 252);
    }
}

.footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    a{
        text-decoration: none;
        font-style: italic;
        font-size: 16px;
        margin-top: 30px;
        color: $light-color;
    }
}