.posts-container{
    margin-bottom: 30px;
}
.post-image img{
    width: 100%;
    height: 200px;
}
.post-date{
    font-style: italic;
    display:flex;
    justify-content: space-between;
}
.action-btns{
    display: flex;
    justify-content: space-between;
}
.thumb{
    color: #333;
}