.posts-container{
    margin-top: 50px;
}

.post-image img{
    width: 100%;
    height: 200px;
}
.post-button{
    color: whitesmoke;
    background: #333;
    opacity: 0.8;
    &:hover{
        color: whitesmoke;
        background: #333;
        opacity: 1;
        transition: all 0.3s ease;
    }
}
.post-date{
    font-style: italic;
}