.menu-icons{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    .icon-fb{
        &:hover{
            color: blue;
            transition: all .3s ease;
        }
    }
    .icon-insta{
        &:hover{
            color: purple;
            transition: all .3s ease;
        }
    }
}