.menu-icons{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    a{
        color: whitesmoke;
    }
    .icon-fb{
        &:hover{
            color: rgb(56, 56, 216);
            transition: all .3s ease;
        }
    }
    .icon-insta{
        &:hover{
            color: purple;
            transition: all .3s ease;
        }
    }
}