@import "../../assets/styles/variables.scss";
.menu-icons{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    a{
        color: $light-color;
    }
    .icon-fb{
        &:hover{
            color: $blue-color;
            transition: all .3s ease;
        }
    }
}