.slide{
    position: relative;
    img{
        width: 100%;
        height: 90vh;
        display: block;
    }
    .slide-description {
        position: absolute;
        color: whitesmoke;
        top: 50px;
        left: 50px;
        h3{
            font-size: 40px;
        }
        p{
            font-size: 30px;
        }
    }
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 0.4;
    background: #333;
    &:hover{
        background: whitesmoke;
        opacity: 0.2;
    }
  }
  .swiper-pagination-bullet-active {
    background: whitesmoke;
    &:hover{
        opacity: 1;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    border-radius:50%;
    width: 60px;
    height: 60px;
    opacity: 0.2;
    color: whitesmoke;
    transition: all .5s ease;

    &:hover{
        opacity: 1;
        border: 1px solid whitesmoke;
        transform:scale(1.2);
        transition: all .5s ease;
    }
  }