@use "../../assets/styles/mixins.scss";
@import "../../assets/styles/variables.scss";
.slide{
    position: relative;
    img{
        width: 100%;
        height: 90vh;
        display: block;
    }
    .slide-description {
        position: absolute;
        color: $light-color;
        top: 50px;
        left: 50px;
        h3{
            font-size: 40px;
        }
        p{
            font-size: 30px;
        }
    }
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 0.4;
    background: $dark-color;
    &:hover{
        background: $light-color;
        opacity: 0.2;
    }
  }
  .swiper-pagination-bullet-active {
    background: $light-color;
    &:hover{
        opacity: 1;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    border-radius:50%;
    width: 60px;
    height: 60px;
    opacity: 0.2;
    color: $light-color;
    @include mixins.transition-mixin;

    &:hover{
        opacity: 1;
        border: 1px solid whitesmoke;
        transform:scale(1.2);
        @include mixins.transition-mixin;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .swiper{
        display:none;
    }    
  }